<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <nav>
      <%- include ./partials/nav.ejs %>
    </nav>

    <div class="row">
      <% hotels.forEach((hotel) => { %>
        <!-- One Hotel Card -->
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="<%= hotel.hotel_image_url %>">
              <span class="card-title"><%= hotel.hotel_name %></span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/hotels/<%= hotel.id %>/edit"><i class="material-icons">mode_edit</i></a>
            </div>
            <div class="card-content">
              <p><%= hotel.hotel_description %></p>
              <p><a href="#" class="activator">More Information</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= hotel.hotel_name %><i class="material-icons right">close</i></span>

              <div class="row margin-top-20">
                <div class="col s6 bold">
                  Address
                </div>
                <div class="col s6">
                  <%= hotel.hotel_address %>
                </div>
              </div>

              <div class="row margin-top-20">
                <div class="col s6 bold">
                  Pet Friendly
                </div>
                <div class="col s6">
                  <% if (hotel.pet_friendly) { %>
                    Yes
                  <% } else { %>
                    No
                  <% } %>
                </div>
              </div>

              <div class="row margin-top-20">
                <div class="col s6 bold">
                  Star Rating
                </div>
                <div class="col s6">
                  <%= hotel.star_rating %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /One Hotel Card -->
      <% }); %>
    </div>

  </body>
</html>
